PORT=5000
NODE_ENV=development

# Database
# MONGODB_URI=mongodb://127.0.0.1:27017/nguyenlien_db
MONGODB_DB_NAME=nguyenlien_db
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=<app-name>

CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5000

# JWT
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_ACCESS_EXPIRES_IN=60m

JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
JWT_REFRESH_EXPIRES_IN=1d

BCRYPT_SALT_ROUNDS=10

# Seed accounts
SEED_ADMIN_PASSWORD=<your_seed_admin_password>
SEED_MANAGER_PASSWORD=<your_seed_manager_password>

# Internal
INTERNAL_API_KEY=<your_internal_api_key>

# Shipment webhooks
SHIPMENT_WEBHOOK_SECRET=<your_shipment_webhook_secret>
SHIPMENT_WEBHOOK_SECRET_GHN=<your_ghn_shipment_webhook_secret>

# Gemini
GEMINI_API_KEY=<your_gemini_api_key>

# --- MAIL CONFIG ---
MAIL_USE_ETHEREAL=true

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_VERIFY_ON_STARTUP=false
MAIL_USER=<your_email>
MAIL_PASS=<your_mail_app_password>
MAIL_FROM_NAME="NguyenLien Shop"
MAIL_FROM_ADDRESS=<your_email>

# VNPay
VNPAY_TMN_CODE="<your_vnpay_tmn_code>"
VNPAY_SECURE_SECRET="<your_vnpay_secure_secret>"
VNPAY_RETURN_URL="http://localhost:5000/api/v1/payments/vnpay-return"
VNPAY_TEST_MODE="true"
VNPAY_HASH_ALGORITHM="SHA512"
VNPAY_ENABLE_LOG="false"
VNPAY_PAYMENT_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNPAY_IPN_URL="<your_public_backend_url>/api/v1/payments/webhook/vnpay"

FRONTEND_URL="http://localhost:5173"

# Stripe
STRIPE_SECRET_KEY=<your_stripe_secret_key>
STRIPE_WEBHOOK_SECRET=<your_stripe_webhook_secret>

# PayPal
PAYPAL_CLIENT_ID=<your_paypal_client_id>
PAYPAL_CLIENT_SECRET=<your_paypal_client_secret>
PAYPAL_WEBHOOK_ID=<your_paypal_webhook_id>
PAYPAL_API_BASE_URL="https://api-m.sandbox.paypal.com"
